<p id="notice"><%= notice %></p>

<h1>Register</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="email">Email</label>
  <input type="email" id="email" name="user[email]" value="<%= @user.email %>" />

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]" />

  <input type="submit" value="Register">
</form>
